@import 'mixins';

@keyframes opacity {
	.opacity(0, 1);
}
.aboutUs {
	.flex(column, wrap, center, center);
	padding: 10% 5%;
	animation: opacity 600ms ease-in;
	.aboutHeader {
		padding: 20px;
	}
	.aboutContent {
		.flex(row, wrap, center, center);
		.aboutUsCard {
			.minWidth-maxWidth(300px, 350px);
			padding: 20px;
			h4 {
				text-align: center;
				span {
					font-style: italic;
				}
			}
			p {
				padding: 10px;
				&.teamRole {
					text-align: center;
					font-size: 1.1rem;
					text-transform: uppercase;
					font-style: italic;
					margin-top: -10px;
				}
			}
			.socialLinks {
				.flex(row, no-wrap, center, center);
				.width-height(100%, 100%);
				position: absolute;
				top: 0;
				background-color: rgba(31, 25, 25, 0.794);
				z-index: 999;
				opacity: 0;
				ul {
					display: flex;
					li {
						display: flex;
						padding: 9px;
						list-style-type: none;
						img {
							width: 30px;
						}
					}
				}
			}
			.imgWrapper {
				.flex(row, no-wrap, center, center);
				.width-height(@width:250px, @height:250px);
				position: relative;
				margin: auto;
				overflow: hidden;
				border-radius: 50%;
				img {
					width: 100%;
				}
			}
		}
	}
}
