@keyframes opacity {
	.opacity(0, 1);
}
header {
	display: flex;
	max-height: 700px;
	overflow: hidden;
	align-items: center;
	animation: opacity 600ms linear;
	img {
		width: 100%;
	}
	.header-container {
		.flex(column, wrap, center, center);
		position: absolute;
		width: 100%;
		height: inherit;
		h1 {
			font-size: 5rem;
			color: @black;
		}
	}
	nav {
		position: absolute;
		background-color: #fff;
		top: 0;
		width: 100%;
		.flex(row, wrap, flex-end);
		ul {
			display: flex;
			padding: 20px;
			list-style-type: none;
			li {
				padding: 0 20px;
				color: @black;
				a {
					font-size: 0.8rem;
				}
			}
		}
	}
}
