.main-content {
	// padding: 20px 10%;
	margin: 0 auto;
	.feature {
		display: flex;
		padding: 10%;
		text-align: center;
		flex-wrap: no-wrap;
		justify-content: center;
		@media (max-width: 1000px) {
			flex-wrap: wrap;
			padding: 90px 10%;
		}

		.featuresCard {
			padding: 40px 10px;
			height: 400px;
			width: 30%;
			min-width: 200px;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			@media (max-width: 500px) {
				width: 90%;
				padding: 10px;
			}
			@keyframes bounce {
				0% {
					top: 0px;
				}
				100% {
					top: -15px;
				}
			}
			img {
				position: relative;
				min-height: 200px;
				max-height: 300px;
				@media (max-width: 1000px) {
					height: 60%;
				}
				&:hover {
					animation: bounce 500ms alternate infinite;
				}
			}
		}
	}
	.missionStatement {
		display: flex;
		max-height: 500px;
		height: 500px;
		overflow: hidden;
		align-items: center;
		justify-content: center;
		h3 {
			color: @black;
			position: absolute;
			opacity: 0.9;
		}
		img {
			width: 100%;
			z-index: -9;
		}
	}

	.testimonials {
		padding: 120px 5%;
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		@media (max-width: 1000px) {
			padding: 0 5%;
		}
		.testimonialsCard {
			padding: 30px 15px;
			max-width: 23%;
			min-width: 280px;
			text-align: center;
			display: flex;
			flex-direction: column;
			align-items: center;

			@media (max-width: 500px) {
				min-width: 90%;
			}
			.imageWrapper {
				display: flex;
				border-radius: 50%;
				width: 240px;
				height: 240px;
				overflow: hidden;
				margin-bottom: 30px;
				img {
					align-self: center;
					width: 100%;
				}
			}
		}
	}

	.cta {
		background-color: #e6f0f2;
		flex-direction: column;
		align-items: center;
		padding: 120px 20px;
		.teamLink {
			margin-top: 10px;
		}
	}
}
