.main-content {
	// padding: 20px 10%;
	margin: 0 auto;
	.feature {
		display: flex;
		padding: 150px 10%;
		text-align: center;
		.featuresCard {
			@keyframes bounce {
				0% {
					top: 0px;
				}
				100% {
					top: -15px;
				}
			}
			img {
				position: relative;
				max-height: 300px;
				&:hover {
					animation: bounce 500ms alternate infinite;
				}
			}
		}
	}
	.missionStatement {
		display: flex;
		max-height: 500px;
		height: 500px;
		overflow: hidden;
		align-items: center;
		justify-content: center;
		h3 {
			color: @black;
			position: absolute;
			opacity: 0.9;
		}
		img {
			width: 100%;
			z-index: -9;
		}
	}

	.testimonials {
		padding: 120px 10%;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		.testimonialsCard {
			padding: 30px 15px;
			max-width: 23%;
			min-width: 340px;
			text-align: center;
			display: flex;
			flex-direction: column;
			align-items: center;
			.imageWrapper {
				display: flex;
				border-radius: 50%;
				width: 240px;
				height: 240px;
				overflow: hidden;
				margin-bottom: 30px;
				img {
					align-self: center;
					width: 100%;
				}
			}
		}
	}

	.cta {
		background-color: #e6f0f2;
		flex-direction: column;
		align-items: center;
		padding: 120px 20px;
		.teamLink {
			&:hover {
				cursor: pointer;
			}
		}
	}
	.aboutUs {
		display: flex;
		height: 100vh;
		justify-content: space-around;
		align-items: center;
		padding: 90px 20px;
		padding: 0 10%;
		.aboutUsCard {
			width: 18%;
			h4 {
				text-align: center;
				span {
					font-style: italic;
				}
			}
			p {
				padding: 10px;
				&.teamRole {
					text-align: center;
					font-size: 1.1rem;
					text-transform: uppercase;
					font-style: italic;
					margin-top: -10px;
				}
			}
			.imgWrapper {
				display: flex;
				align-items: center;
				margin: auto;
				width: 250px;
				height: 250px;
				overflow: hidden;
				border-radius: 50%;
				img {
					width: 100%;
				}
			}
		}
	}
}
